*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul li {
  transition: 0.3s;
}

ul li:hover {
  transition: 0.3s;
}
.overview {  
  display: none;
  transition: 0.2s;
}

.card-inner:hover .overview {
  display: block;
  transition: 0.2s;
}